@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

:root{
    --green: #28a745;
    --light-green: #56be08;
    --teal: #20c997;
    --dark-green: #2D673C;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: "Segoe UI", Roboto,"Helvetica Neue";
}

header{
    padding:10px 0;
}

/* Utility Classes */

.light-coloured{
    color: rgb(152, 149, 154);
}

.small-text{
    font-size: 0.8rem;
}

.icon{
    font-family: 'Icofont';
    color:var(--light-green);
    padding: 4px;
}

.icon-black{
    color:black;
}

/* Sticky section up top */

header{
    position:sticky;
    top:0;
    background-color: white;
    z-index: 100;
    box-shadow: 2px 2px 20px rgba(146, 147, 150, 0.3);
    padding-bottom: 15px;
}

#sticky-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:10px;
    padding: 12px 100px;
    margin:5px 0;
    font-size:0.9rem;
    font-weight: 700;
    border-bottom: 1px solid rgba(158, 155, 155, 0.2);
}

.option{
    min-width:105px;
}

.option .bold{
    cursor:pointer;
}


.option span:hover{
    color: var(--green);
}

#login-link{
    background-color: var(--light-green);
    padding: 5px 15px;
    border-radius: 50px;
}

#login-link .icon{
    color: white;
}

#login-link a{
    color:white;
}

#login-link:hover{
    background-color: black;
}

#login-link .bold:hover{
    color: white;
}


a{
    text-decoration: none;
}

/* Navbar */

#navbar-section{
    display: flex;
    gap:80px;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.05rem;
    height: 70px;
    padding:20px 0;
}

#navbar-section .icon{
    color:black;
}

#navbar-section img{
    max-height: 40px;
}

#navbar-section nav{
    padding:10px;
    
}

#navbar-section ul{
    padding:10px;
    list-style-type: none;
    display: flex;
    gap:30px;
    flex-wrap: wrap;
}

#navbar-section a{
    color:black;
    font-weight: 700;
}

#navbar-section li:hover a,
#navbar-section li:hover .icon{
    color:var(--green);
}

/* Banner */

#banner{
    background-color: var(--dark-green);
    padding: 70px 30px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
}

#banner-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2.5rem;
    font-weight: 700;
    color:white;
}

/* Main Body */

#main-body{
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:30px;
}

#main-body .navigator{
    align-self: flex-start;
    padding-left:150px;
}

#title{
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:10px;
}

#border-underline{
    width:50%;
    border-bottom: 2px solid #55bd07;
}

#border-underline-main{
    width:10%;
    border-bottom: 8px solid #55bd07;
    position:relative;
    bottom:14px;
}

/* Section 1 - Delivery Features */

#delivery-feature-grid{
    display: flex;
    justify-content: center;
    gap:30px;
    padding-top: 80px;
    padding-bottom: 50px;
}

#delivery-feature-grid .feature-item{
    width:370px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgb(197, 204, 223);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

#delivery-features .sub-text{
    text-align: center;
    font-size: 1.2rem;
    color: rgba(89, 87, 87, 0.8);
    margin: 50px 0;
}

#delivery-features img{
    width:80px;
    border-radius: 50%;
    position: relative;
    bottom: 45px;
}


/* Section 2 - Smart TV */

#smart-tv{
    background-color: #f9f9fa;
    width:100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color:#3a3a3a;
    padding-top:30px;
    padding-bottom:50px;
}

#smart-tv-feature-grid{
    display: flex;
    justify-content: center;
    gap:30px;
    padding-top: 80px;
}

#smart-tv-feature-grid .feature-item{
    width:370px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap:10px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

#smart-tv p{
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* Section 3 - Benefits to subscribers */

#subscriber-benefits{
    padding-top:50px;
    padding-bottom: 30px;
    display: flex;
    gap:50px;
}

#subscriber-benefits h3{
    font-family: 'Raleway',sans-serif;
    margin-bottom: 30px;
    font-size: 1.25rem;
}

#subscriber-benefits img{
    height:300px;
}

#subscriber-benefits ul{
    list-style-type: none;
    margin-left:10px;
}

#subscriber-benefits li{
    margin-bottom: 9px;
}

/* Section 4 - TV Advantages */

#tv-advantages{
    background-color: #f9f9fa;
    padding-top: 40px;  
    text-align: center;
    width:100%;
}

#tv-advantages #advantages-grid{
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0 70px;
    display: grid;
    justify-content: center;
    grid-template-areas: 
        "cont cont cont"
        "cont cont cont";
    grid-template-columns: 0.25fr 0.25fr 0.25fr;
    grid-gap:30px;
}

#tv-advantages .advantage{
    background-color: white;
    /* width:400px; */
    padding: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 2px 2px 20px rgba(146, 147, 150, 0.3);
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-align: left;
    grid-area: "cont";
}

#tv-advantages .advantage img{
    align-self: center;
}

/* Section 5 - Android Box */

#android-box{
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    gap: 40px;
    font-family: 'Raleway', sans-serif;
}

#android-box #android-image{
    width: 450px;
}

#android-features{
    display: flex;
    flex-direction: column;
    gap:30px;
}

#android-features-grid{
    display:grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-gap:30px;
}

#android-features-grid .feature{
    box-shadow: 2px 2px 20px rgba(146, 147, 150, 0.3);
    border-radius: 13px;
    width:240px;
    height: 200px;
    padding: 34px 30px;
    text-align: center;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:10px;
}

#android-features-grid .sub-text{
    color:#6c757d;
    font-size: 0.94rem;
}

#android-features-grid img{
    align-self: center;
}

/* Section 6 - Smart TV for Smart Audiences */

#smart-audiences{
    font-family: "Raleway", sans-serif;
    background-color: #f9f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
    width:100%;
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 0.9rem;
}

#smart-audience-grid{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 50px;
}

#smart-audience-grid .feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    background-color: white;
    border-radius: 20px;
}

#smart-audience-grid .feature img{
    height:180px;
}

/* Section 7 - Request Form */
#request-form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

#request-form #modal-open{
    padding: 10px 30px;
    background-color: var(--light-green);
    color:white;
    border:0;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    cursor:pointer;
}

/* Section 8 - Customer Support */

#customer-support{
    width:100%;
    padding: 100px 0;
    background: radial-gradient(ellipse at center, rgba(210, 255, 82, 0.75), rgba(85, 189, 7, 0.93)), url("https://pioneeronline.com/assets/img/spacer/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    gap:200px;
}

#customer-support h1{
    font-size: 2rem;
}

#customer-image-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#customer-support-info p{
    margin:18px;
}

/* Footer */

#footer-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3a3a3a;
    color:white;
    gap:30px;
    padding-bottom: 40px;
    padding-top:20px;
}

#footer-top li{
    margin-top:7px;
    cursor: default;
}

#footer-top li:hover{
    color:var(--light-green);
}

#footer-top #logo{
    height: 90px;
    align-self: center;

}

#footer-connect{
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.8fr 0.2fr;
    justify-content : center;
    width:70%;
}

.footer-connect-child{
    padding:30px 10px;
}

.footer-connect-child img{
    display: block;
    margin-top: 10px;
    height: 70px;
}

.footer-connect-child ul{
    list-style-type: none;   
}

#footer-icons{
    display: flex;
    gap:10px;
}

#footer-icons .showcase{
    background-color: var(--light-green);
    border-radius: 50%;
    padding: 5px;
}

#footer-icons .showcase .icon{
    font-size:1rem;
}

#footer-icons .icon{
    color:white;
    font-size: 1.4rem;
}

#footer-icons .showcase:hover{
    background-color: white;
}

#footer-icons .showcase:hover .icon{
    color: var(--light-green);
}

#footer-bottom{
    padding:20px;
    text-align: center;
    background-color: black;
    color:white;
}

#footer-bottom p{
    margin:2px;
}